.carouselRoot {
  display: flex;
  justify-content: center;
}

.carouselContent {
  margin-top: 150px;
  width: 100%;
  background: transparent !important;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carouselImage {
  height: 500px;
  width: 500px;
}

.carouselButton {
  background: black !important; 
  border-style: outset !important;
  border-width: 1px !important;
  border-color: #00FF00 !important;
  border-radius: 8px !important;
  color: #00FF00 !important;
  padding: 8px 15px !important;
  text-align: center !important;
  font-size: 16px !important;
  margin-top: -75px !important;
  cursor: pointer !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
  min-width: 50px !important;
  min-height: 50px !important;
  max-width: 150px !important;
}

.carouselButton:hover {
  background-color: rgb(49, 49, 49) !important;
}