.cartItemMedia {
  height: 400px;
}

.cartItemRoot {
  height: 600px;
}

.cartItemCardContent {
  display: flex;
  justify-content: space-between;
  color: rgb(0, 0, 0);
  height: 75px;
}

.cartItemActions {
  display: flex;
  justify-content: space-between;
  padding-top: 20px !important;
  padding-right: 15px !important;
  padding-left: 15px !important;
}


.cartRemoveItem{
  background-color: #ff3300 !important;
}

.subtractOne {
  background-color: #ff3300 !important;
}

.addOne {
  background-color: #00FF00 !important;
}